<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Web-tests">
        <classes>
            <class name="test.MobileTest"></class>
            <class name="test.LoginTest"></class>
            <class name="test.CartTest"></class>
        </classes>
    </test>
</suite>